<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='homepage.css')}}">
</head>
<body><form action="/" method="post,get"></form>
    <main>
        <header>
            <nav>
                <button class="loginbtn">Login </button>
                </nav>
        </header>
        </main>
    <div class="spacer"></div>     
        <article >
            <h1 style="color: aliceblue;font-size: 50px;">INSERT NAME HERE</h1>
        
        <p style="color: aliceblue;font-size: 20px;margin-top: 30px;">some nice things about the web site goes here </p>
       
    </article>
    <div class="spacer"></div>
    <article class="second_article"><h1>Want to start?</h1> <p>sign up now </br> Its free</p> <button class="signupbtn">Sign up!</button></article>
        <footer>
            
        </footer>
    </main>
</body>
</html>