<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup page</title>
    <link rel="stylesheet" href="inputboxs.css">
</head>

<body>
    <form action="/login" method="get,post">
        <main>
            <h1 class="text" style="font-size: 35px;">Login</h1>
            <p class="text" style="font-size: 20px;">please login </p>

            <input type="password" placeholder="Password " class="inputbox" name="userpassword" required>
            <input type="password" placeholder="Check password " class="inputbox" name="userpasswordcheck" required>


            <div>
                <p>Dont have a acct</p> <button>sign up</button>
            </div>
        </main>
    </form>
</body>

</html>